# Python cache files
__pycache__/
.pytest_cache/
.py[cod]

# Debug: keep the manual debug scripts, 
# ignore their generated artifacts
debug/*
!debug/*.py

# Build files
build/
*.egg-info

# Models dir
models/

# VS Code settings
.vscode/